.collapsibles-container{
    padding:0 8%;
    margin-top: 20px;
}
.header-collapsible {
    background-color: #777;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
  }

  .collapsible-content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .collapsible-content > div{
    padding: 20px 0;
  }

  .collapsible-content-2{
    margin-bottom: 20px;
  }

  @media screen and (max-width: 850px){
    .collapsibles-container{
        padding:0;
    }
  }