.contact-faq-containers{margin-top: 30px;}
.contact {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    border-radius: 8px;
}
.form-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
}
.form-contact:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}
.form-contact > label {
    font-weight: bold;
}
.input-form-contact, textarea, select, .btn-form-contact{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.btn-form-contact {
    background-color:dimgray;
    color: #fff;
    border: 1px solid dimgray;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    height: 50px;
}
.btn-form-contact:hover {
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}
.confirmation {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.contact-info, .faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact-info ul, .faq ul {
    list-style: none;
    padding: 0;
}
.faq ul{
    text-align: center;
}
.contact-info ul li, .faq ul li {
    margin-bottom: 10px;
}
.contact-info ul li a {
    color: #007bff;
    text-decoration: none;
}
.contact-info ul li a:hover {
    text-decoration: underline;
}
.message-info-form-contact{
    color: red;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.faq h2{
    margin-bottom: 15px;
}
@media screen and (max-width: 600px){
    form {
        width: 100%;
    }
    .form-contact {
        width: 100%;
        padding: 10px;
    }
}