.form-pgcd{
    margin: 20px 0;
    padding: 20px;
    border: 1px solid;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: floralwhite;
}

.form-pgcd-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-form-container{ margin: 8px 0;}
.noname {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-factor-container{
    display: flex;
    flex-direction: column;
}
.input-numbers-container{
    display: flex;
    flex-direction: column;
}
.input-numbers-container > label{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 1.5px;
}
.switch-text-explain{padding: 5px;}
.input-form {
    max-width: 190px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
}
  
.input-form:invalid {
    animation: justshake 0.3s forwards;
    color: red;
}

@keyframes justshake {
    25% {
        transform: translateX(5px);
    }   
    50% {
        transform: translateX(-5px);
    }   
    75% {
        transform: translateX(5px);
    }   
    100% {
        transform: translateX-(5px);
    }
}

.btn-submit-pgcd {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin-top: 8px;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 5.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
   
.btn-submit-pgcd:disabled {
    pointer-events: none;
}
   
.btn-submit-pgcd:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
   
.btn-submit-pgcd:active {
    box-shadow: none;
    transform: translateY(0);
}