* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
  height: 100%; /* Permet au conteneur de s'étendre sur toute la hauteur */
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 50px;
}

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* S'étend sur toute la hauteur de la fenêtre */
}

.btn-back{
  position: fixed;
  font-weight: bold;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-back:hover{
  opacity: 0.8;
}

@media screen and (max-width: 791px) {
  body{
    margin: 0;
  }
}

section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 689px){
  section{
    flex-direction: column;
  }
}