section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

section > h2{
    width: 100%;
    text-align: center;
}

section div{
    width: 90%;
    text-align: center;
    margin:20px 0;
}

.subject-container > h3{
    margin-bottom: 15px;
}

.list{
    list-style: none;
}

.list li{
    margin-bottom: 10px;
}

li > a{
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

li > a:hover{
    text-decoration: underline;
}