@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.result-container{
    background-color: #000;
    border: 1px solid #000;
    margin-left: 80px;
    border-radius: 6px;
    color: #fff;
    width: 280px;
    padding: 19px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}
.result-content{
    padding: 8px;
    width: 100%;
    height: auto;
}
.result-content > p{
    font-family: 'Schoolbell', sans-serif;
    margin: 11px 0;
    font-size: 13px;
}

@media screen and (max-width: 689px){
    .result-container{
        margin-left: 0;
        margin-bottom:20px;
    }
}